@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "poppinsRegular";
    src: url("/fonts/Poppins/Poppins-Regular.ttf");
    url: url("/fonts/Poppins/Poppins-Regular.ttf")format("ttf"),
}

@font-face {
    font-family: "poppinsSemiBold";
    src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
    url: url("/fonts/Poppins/Poppins-SemiBold.ttf")format("ttf"),
}
